@font-face {
    font-family: acher-font;
    src: url(font/Archer-Book-Pro.otf);
}

.title{
    font-family: tahoma;
}

.title2{
    font-family:acher-font;
    color:red;
}

.title + .para {
    font-family: acher-font, tahoma;
    color:brown
}

ul {
    list-style-type: none;
}

ul li{
    color:purple;
    font-family: tahoma;
    text-decoration: none;
}

ul > li:last-child{
    font-size:3rem;
}

ul > li:first-child{
    font-size:3rem;
}

ul > p:nth-of-type(2){
    font-size:2rem;
    font-family:acher-font;
}

ul li:nth-of-type(3){
    font-size:2rem;
    color:silver;
}

.title2 ~ .para {
    font-family: acher-font, tahoma;
    color: orange
}

p[style*="bc"]{
    color:saddlebrown;
}

.cool-input-title{
    font-family: acher-font;
    color:seagreen;
    text-align: center;
}

input[type^="te"]{
    font-family: acher-font;
    color:seagreen;
}

.form-input {
    width:80%;
    border: 1px solid purple;
    height: 3rem;
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.5s ease;
}

.form-input:focus {
    border: 1px solid cyan;
    outline: none;
}

.all-input-field{
    display:flex;
    justify-content:flex-start;
}
.form-field {
    position: relative;
    width:45%;
}

.form-label {
    position: absolute;
    top: 50%;  /* LABEL top 50% cua? thang cha no la form-field nen label dich xuong 50%*/
    transform: translateY(-50%); /* LABEL dich len theo chieu Y 50% cua chu~ chu ko phai cua khung de cho o giua */
    left: 16px;
    font-family: acher-font;
    user-select: none;
    pointer-events: none;
    color: #999;
}


.form-input:focus + .form-label{ 
    color:blueviolet;
    top: 0px;
    left: 30px;
    transition: 0.25s ease;
    padding: 2px;
    display: inline-block;
    background-color: white;
}

.form-input:not(:placeholder-shown) + .form-label{
    color:blueviolet;
    top: 0px;
    left: 30px;
    transition: 0.25s ease;
    padding: 2px;
    display: inline-block;
    background-color: white;
}

/* TRICK PLACEHOLDER O INPUT HAY HA */