html {
    font-size: 50%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
}

.list {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10px;
}

.list_item{
    margin: 0 10px;
    width: 30%;
}

.list_image{
    max-width: 100%;
}

.buton_contain{
    display:flex;
    justify-content: center;
}

.buton{
    background-color: orange;
    width: 10%;
    font-size: 100%;
    display: inline-block;
    text-align:center;
    padding: 10px;
    text-decoration: none;
    color: black;
}

a:hover{
    background-color:cadetblue;
    transition: .5s ease all;
}