html {
    font-size: 50%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
}

.list {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10px;
}

.list_item{
    margin: 0 10px;
    width: 30%;
}

.list_image{
    max-width: 100%;
}